/* mobile */

@media screen and (max-width: 768px) {
  body {
    margin: 0px;
    height: 1000px;
    background-image: linear-gradient(rgb(161, 116, 190), rgb(124, 45, 226));
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    border-style: solid;
    border-color: rgb(152, 255, 203);
    border: 5px solid #84d8db;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;

  }

  h2{
    font-size: 50px;
    color: aquamarine;
    font-style: bold;
    text-align: center;
  }

  mark{
    background-color: #84d8db;
    color: white;
    text-align: center;
  }

  h3{
    font-size: 50px;
    font-style: bold;
    text-align: left;
  }

  mark{
    background-color: #84d8db;
    color: white;
  }

}


@media screen and (min-width:768px) {
  body {
    margin: 0px;
    height: 1000px;
    background-image: linear-gradient(rgb(161, 116, 190), rgb(124, 45, 226));
  }

  h1 {
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    font-size: 60px;
    text-align: center;
    border-style: solid;
    border-color: rgb(152, 255, 203);
    border: 5px solid #84d8db;
    border-radius: 25px;

  }

  h2{
    font-size: 50px;
    color: aquamarine;
    font-style: bold;
    text-align: center;
  }

  mark{
    background-color: #84d8db;
    color: white;
  }

  h3{
    font-size: 50px;
    color: aquamarine;
    font-style: bold;
    text-align: left;
  }

  mark{
    background-color: #84d8db;
    color: white;
  }
}




html,body {

  width:100%;
  height:100%;
}
body {
 margin: 0;
}
.container 
{
width:100%;
height:100%;
}
#slideshow {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width:100%;
  height:100%;
  display: inline-block;
}
.elemnt,.elemnt1,.elemnt2,.elemnt3 {
position: absolute;
left: 0;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
display: inline-block;
text-align: center;
}
.elemnt {
  animation: xfade 16s 8s infinite;
  background-image: url(Homeless1.jpg);
}
.elemnt1 {
  animation: xfade 16s 6s infinite;
  
  background-image: url(Homeless15.jpg);
  
}
.elemnt2 {
  animation: xfade 16s 2s infinite;
  
  background-image: url(Homeless2.jpg);
}

 
  

  
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade1{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade2{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade3{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(93, 140, 228);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(162, 198, 240);
}







.footer {
  font-size: 18px;
  text-align: center;
}