body {
    margin: 0px; 
    height: 1000px; 
      background: rgb(165, 165, 197);
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(93, 140, 228);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: rgb(162, 198, 240);
    }

    h1 {
        text-align: center; 
        font-size: 45px;
        color: rgb(154, 10, 154);
        padding-top: 10px;
    }
    h2{

    text-align: center; 
    font-size: 25px;
    padding: 10px;
    color: rgb(154, 10, 154);

    }

    img {
        
      width:  400px;
      height: 400px;
      object-fit: cover;
      margin: 10px;
      display: flexbox;  
      
      border: 5px solid #555; 
  }


  
  
  .column {
    justify-content: center;  
  }
    body {
      background-color: lightblue;
    }



@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
    justify-content: center;
    
  }


}

@media screen and (max-width: 500px) {
  .column {
    flex: 100%;
    max-width: 100%;
    
  }


}
